.progress.flat {
  height: 0.25rem;
  border-radius: 0;
}

.progress.indeterminate > .progress-bar {
  animation: indeterminate-progress 0.8s infinite alternate;
}

@keyframes indeterminate-progress {
  0% {
    width: 25%;
    margin-left: 0;
  }

  50% {
    width: 50%;
    margin-left: 25%;
  }

  100% {
    width: 25%;
    margin-left: 75%;
  }
}
