<div class="container">
  <form (submit)="savePlaylist()">
    <div class="form-group row mb-3">
      <div class="col-12">
        <h1 class="d-inline-block">Create new playlist</h1>
        <span class="pull-right">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i>
            Create playlist
          </button>
        </span>
      </div>
    </div>
    <card class="d-block mb-3">
      <header>
        <i class="fa fa-info"></i>
        General information
      </header>
      <content>
        <div class="form-group row mb-3">
          <label [appFor]="txt_description" class="col-form-label col-md-6 col-lg-4 col-xl-3">Description</label>
          <div class="col-md-6 col-lg-8 col-xl-9">
            <input type="text" [(ngModel)]="playlist.description" class="form-control" name="description" #txt_description autofocus />
          </div>
        </div>
        <div class="form-group row mb-0">
          <label [appFor]="cmb_accessibility" class="col-form-label col-md-6 col-lg-4 col-xl-3">Accessibility</label>
          <div class="col-md-6 col-lg-8 col-xl-9">
            <select class="form-control" name="accessibility" #cmb_accessibility [ngModel]="playlist.accessibility" (ngModelChange)="accessibilitySelected($event)">
              <option *ngFor="let accessibility of accessibilities" [ngValue]="accessibility.id">{{ accessibility.description }}</option>
            </select>
          </div>
        </div>
      </content>
    </card>
    <card class="d-block mb-3" [overflowX]="false">
      <header>
        <i class="fa fa-music"></i>
        Tracks
      </header>
      <content>
        <app-sortable-list [items]="playlist.tracks" [itemTemplate]="itemTemplate">
          <ng-template #itemTemplate let-track>
            {{ track.description }}
            <button class="btn btn-default pull-right sortable-list-remove" (click)="removeTrack(track)">
              <i class="fa fa-remove"></i>
            </button>
          </ng-template>
        </app-sortable-list>
        <dropdown-search-box (suggestionClicked)="onSuggestionClicked($event)" [url]="'/web/v2/Subject/search/suggest/song'" [method]="'get'" [headers]="songSuggestHttpHeaders" [textPropertyPath]="'description'" [searchPlaceholder]="'Enter a song title'" [searchingCaption]="'Searching songs'" [noResultsCaption]="'No songs found'"></dropdown-search-box>
      </content>
    </card>
  </form>
</div>


