$grey-border: 1px solid #CCC;
$sidebar-width-lg: 220px;
$playlist-width-lg: 350px;
$z-index-main: 100;
$header-height: 55px;
$footer-height: 45px;
$white: #FFF;
$sidebar-background: #333;
$arrow-size: 10px;
$fa-padding: 2px;

@media (prefers-color-scheme: light) {
  :root {
    --theme-text-color: #212529;
    --theme-background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-text-color: #ADBAC7;
    --theme-background-color: #22272E;
  }
}
