<div class="container">
  <form (submit)="saveArtist()">
    <div class="form-group row">
      <div class="col-12">
        <h1 class="d-inline-block">Create new artist</h1>
        <span class="float-right">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i>
            Create artist
          </button>
        </span>
      </div>
    </div>
    <card>
      <header>
        <i class="fa fa-info"></i>
        General information
      </header>
      <content>
        <div class="form-group row">
          <label for="txt_name" class="input-label col-sm-4 col-xl-2">Name</label>
          <div class="col-sm-8 col-xl-10">
            <div class="input-group">
              <input type="text" [(ngModel)]="artist.name" class="form-control" id="txt_name" name="name" autofocus />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="txt_year_started" class="input-label col-sm-4 col-xl-2">Year started</label>
          <div class="col-sm-8 col-xl-10">
            <div class="input-group">
              <input type="number" [(ngModel)]="artist.yearStarted" class="form-control" id="txt_year_started" name="year_started" autofocus />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="txt_year_quit" class="input-label col-sm-4 col-xl-2">Year quit</label>
          <div class="col-sm-8 col-xl-10">
            <div class="input-group">
              <input type="number" [(ngModel)]="artist.yearQuit" class="form-control" id="txt_year_quit" name="year_quit" autofocus />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="txt_born" class="input-label col-sm-4 col-xl-2">Current members</label>
          <div class="col-sm-8 col-xl-10">
            <div class="input-group">
              <select2 [url]="'/api/subject/search/suggest/person'" [method]="'get'" [headers]="httpHeaders" [items]="artist.currentMembers" (itemChanged)="currentMemberChanged($event)"></select2>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="txt_born" class="input-label col-sm-4 col-xl-2">Past members</label>
          <div class="col-sm-8 col-xl-10">
            <div class="input-group">
              <select2 [url]="'/api/subject/search/suggest/person'" [method]="'get'" [headers]="httpHeaders" [items]="artist.pastMembers" (itemChanged)="pastMemberChanged($event)"></select2>
            </div>
          </div>
        </div>
      </content>
    </card>
    <card>
      <header>
        <i class="fa fa-medium"></i>
        Media
      </header>
      <content>
        <media-manager [media]="artist.media" [mediumTypes]="mediumTypes"></media-manager>
      </content>
    </card>
  </form>
</div>
