<div class="container-fluid">
  <div class="form-group row mb-3">
    <div class="col-12">
      <h1 class="d-inline-block">All songs</h1>
      <span class="pull-right">
        <a [advRouterLink]='["/song/create"]' class="btn btn-primary">
          <i class="fa fa-plus"></i>
          Create song
        </a>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <datatable [settings]="tableSettings" [data]="songData" (onReloadData)="loadSongs()">
        <datatable-column title="Title" name="Title" [sortable]="true"></datatable-column>
        <datatable-column title="Released" name="Released" [sortable]="true"></datatable-column>

        <ng-template rowTemplate let-song>
          <tr>
            <td class="text-nowrap"><a [advRouterLink]='["/song",song.id,song.title | slugify]'>{{ song.title }}</a></td>
            <td class="text-nowrap">{{ song.released | date:'dd-MM-yyyy' }}</td>
          </tr>
        </ng-template>
      </datatable>
    </div>
  </div>
</div>
