<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="false">
        <remove name="WebDAVModule" />
      </modules>
      <rewrite>
        <rules>
          <rule name="NonWwwRedirection" stopProcessing="false">
            <match url=".*" />
            <conditions>
              <add input="{HTTP_HOST}" pattern="^www.mintplayer.com$" />
            </conditions>
            <action type="Redirect" url="https://mintplayer.com/{R:0}" redirectType="Permanent" />
          </rule>
        </rules>
      </rewrite>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <remove name="X-Powered-By-Plesk" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering allowDoubleEscaping="false">
          <requestLimits maxAllowedContentLength="30000000" maxUrl="40960" maxQueryString="20480" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>