<div class="container-fluid">
  <div class="form-group row">
    <div class="col-12">
      <h1 class="d-inline-block">All people</h1>
      <span class="float-right">
        <a [routerLink]='["/person/create"]' class="btn btn-primary">
          <i class="fa fa-plus"></i>
          Create person
        </a>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <datatable [settings]="tableSettings" [data]="personData" [rowTemplate]="rowTemplate" (onReloadData)="loadPeople()">
        <ng-template #rowTemplate let-person>
          <tr>
            <td class="text-nowrap"><a [routerLink]='["/person",person.id,person.text | slugify]' title="Details for {{ person.firstName }} {{ person.lastName }}">{{ person.firstName }}</a></td>
            <td class="text-nowrap">{{ person.lastName }}</td>
            <td class="text-nowrap">{{ person.born | date:'dd/MM/yyyy' }}</td>
            <td class="text-nowrap">{{ person.died | date:'dd/MM/yyyy' }}</td>
          </tr>
        </ng-template>
      </datatable>
      <pagination class="pull-left" [numbers]="tableSettings.perPages.values" [(selectedNumber)]="tableSettings.perPages.selected" (selectedNumberChange)="loadPeople()" [showArrows]="false"></pagination>
      <pagination class="pull-right" [numbers]="tableSettings.pages.values" [(selectedNumber)]="tableSettings.pages.selected" (selectedNumberChange)="loadPeople()" [showArrows]="true"></pagination>
    </div>
  </div>
</div>
