<div class="container-fluid">
  <div class="form-group row mb-3">
    <div class="col-12">
      <h1 class="d-inline-block">All people</h1>
      <span class="pull-right">
        <a [advRouterLink]='["/person/create"]' class="btn btn-primary">
          <i class="fa fa-plus"></i>
          Create person
        </a>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <datatable [settings]="tableSettings" [data]="personData" (onReloadData)="loadPeople()">
        <datatable-column title="First name" name="FirstName" [sortable]="true"></datatable-column>
        <datatable-column title="Last name" name="LastName" [sortable]="true"></datatable-column>
        <datatable-column title="Born" name="Born" [sortable]="true"></datatable-column>
        <datatable-column title="Died" name="Died" [sortable]="true"></datatable-column>

        <ng-template rowTemplate let-person>
          <tr>
            <td class="text-nowrap"><a [advRouterLink]='["/person",person.id,person.text | slugify]' title="Details for {{ person.firstName }} {{ person.lastName }}">{{ person.firstName }}</a></td>
            <td class="text-nowrap">{{ person.lastName }}</td>
            <td class="text-nowrap">{{ person.born | date:'dd/MM/yyyy' }}</td>
            <td class="text-nowrap">{{ person.died | date:'dd/MM/yyyy' }}</td>
          </tr>
        </ng-template>
      </datatable>
    </div>
  </div>
</div>
