<div class="table-responsive mb-3">
  <table class="table table-striped table-hover w-100 mb-0" cellspacing="0" role="grid">
    <thead>
      <tr>
        <th *ngFor="let column of settings.columns" class="text-nowrap" [ngClass]="{'sort': column.sortable, 'sort-asc': column.sortable && (settings.sortProperty == column.name) && (settings.sortDirection == 'ascending'),'sort-desc': column.sortable && (settings.sortProperty == column.name) && (settings.sortDirection == 'descending')}" (click)="columnHeaderClicked(column)">{{ column.title }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of data.data">
        <ng-container *ngTemplateOutlet="rowTemplate; context: { $implicit: item }"></ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
