:host {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
}

.popup-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: #000;
  opacity: 0.5;
  z-index: 501;
}

.popup-content {
  background: #fff;
  padding: 20px;
  z-index: 502;
  position: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: inline-table;
  width: 70%;
}
