<div class="container-fluid">
  <div class="form-group row mb-3">
    <div class="col-12">
      <h1 class="d-inline-block">All tag categories</h1>
      <span class="pull-right">
        <a [advRouterLink]='["/tag","category","create"]' class="btn btn-primary">
          <i class="fa fa-plus"></i>
          Create category
        </a>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <datatable [settings]="tableSettings" [data]="tagCategoryData" (onReloadData)="loadTagCategories()">
        <datatable-column title="Description" name="Description" [sortable]="true"></datatable-column>
        <datatable-column title="Color" name="Color" [sortable]="true"></datatable-column>

        <ng-template rowTemplate let-category>
          <tr>
            <td class="text-nowrap"><a [advRouterLink]='["/tag","category",category.id]' title="Details for {{ category.description }}">{{ category.description }}</a></td>
            <td class="text-nowrap">{{ category.color }}</td>
          </tr>
        </ng-template>
      </datatable>
    </div>
  </div>
</div>
