<div class="container">
  <form (submit)="saveBlogPost()">
    <div class="form-group row mb-3">
      <div class="col-12">
        <h1 class="d-inline-block">{{ 'blog.write_new_blog_post' | translate }}</h1>
        <span class="pull-right">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i>
            {{ 'blog.create_blog_post' | translate }}
          </button>
        </span>
      </div>
    </div>
    <card class="d-block mb-3" [overflowX]="false">
      <header>
        <i class="fa fa-info"></i>
        {{ 'blog.blog_post_information' | translate }}
      </header>
      <content>
        <div class="form-group row mb-3">
          <label [appFor]="txt_title" class="col-form-label col-md-4 col-xl-2">{{ 'blog.title' | translate }}</label>
          <div class="col-md-8 col-xl-10">
            <input type="text" [(ngModel)]="blogPost.title" class="form-control" #txt_title name="title" autofocus />
          </div>
        </div>
        <div class="form-group row mb-3">
          <label [appFor]="txt_headline" class="col-form-label col-md-4 col-xl-2">{{ 'blog.headline' | translate }}</label>
          <div class="col-md-8 col-xl-10">
            <textarea [(ngModel)]="blogPost.headline" class="form-control" rows="5" #txt_headline name="headline"></textarea>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label [appFor]="txt_post" class="col-form-label col-md-4 col-xl-2">{{ 'blog.post' | translate }}</label>
          <div class="col-md-8 col-xl-10">
            <textarea [(ngModel)]="blogPost.body" class="form-control" rows="20" #txt_post name="post"></textarea>
          </div>
        </div>
      </content>
    </card>
  </form>
</div>
