<body>
  <div class="app-header text-center">
    <app-navbar-toggler [(state)]="toggleButtonState" (stateChange)="updateSidebarState($event)" class="d-inline-block"></app-navbar-toggler>
    <a [routerLink]='["/"]' class="no-underline" title="MintPlayer">
      <span class="text-dark font-weight-bold d-inline-block my-1 logo">MintPlayer</span>
    </a>
    <playlist-toggler class="float-right" [(state)]="playlistToggleButtonState"></playlist-toggler>
  </div>
  <div class="app-body" [ngClass]="sidebarState" id="app-body">
    <app-sidebar (itemSelected)="collapseSidebar()" (logoutClicked)="logoutClicked()" [activeUser]="activeUser"></app-sidebar>
    <div class="main-body pb-1">
      <div class="main-content m-4 p-4">
        <div [ngClass]="{'mx-auto': true, 'main-container': true, 'width-100': fullWidth}">
          <router-outlet (activate)="routingActivated($event)" (deactivate)="routingDeactivated($event)"></router-outlet>
        </div>
      </div>
      <div class="main-footer px-3">
        &copy; MintPlayer
      </div>
    </div>
    <playlist-sidebar [songs]="playlist" [current]="currentSong" [ngClass]="playlistToggleButtonState"></playlist-sidebar>
  </div>
  <div>
    <youtube-player #player [domId]="'player'" [hidden]="currentSong !== null" (songEnded)="songEnded()" [width]="320" [height]="240"></youtube-player>
  </div>
</body>
