<body>
  <div class="app-header text-center">
    <app-navbar-toggler [(state)]="toggleButtonState" (stateChange)="updateSidebarState($event)" class="d-inline-block"></app-navbar-toggler>
    <a [routerLink]='["/"]' class="no-underline" title="MintPlayer">
      <span class="text-dark font-weight-bold d-inline-block my-1 logo">MintPlayer</span>
    </a>
  </div>
  <div class="app-body" [ngClass]="sidebarState" id="app-body">
    <app-sidebar></app-sidebar>
    <div class="main-body pb-1">
      <div class="main-content m-4 p-4">
        <div [ngClass]="{'mx-auto': true, 'main-container': true, 'width-100': fullWidth}">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="main-footer px-3">
        &copy; MintPlayer
      </div>
    </div>
  </div>
</body>
