<div class="container">
  <div class="form-group row mb-3">
    <div class="col-12">
      <h1 class="d-inline-block">{{ 'account.update_profile' | translate }}</h1>
    </div>
  </div>
  <card class="d-block mb-3">
    <header>
      <i class="fa fa-key"></i>
      {{ 'account.update_profile' | translate }}
    </header>
    <content>
      <form (submit)="updatePassword()">
        <div class="form-group row mb-3" *ngIf="hasPassword">
          <label class="col-sm-6 col-lg-4 col-form-label" [appFor]="txt_current_password">Current password</label>
          <div class="col-sm-6 col-lg-8">
            <input type="password" [(ngModel)]="currentPassword" class="form-control" #txt_current_password />
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-sm-6 col-lg-4 col-form-label" [appFor]="txt_new_password">New password</label>
          <div class="col-sm-6 col-lg-8">
            <input type="password" [(ngModel)]="newPassword" class="form-control" #txt_new_password />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-6 col-lg-4 col-form-label" [appFor]="txt_confirm_password">Confirm password</label>
          <div class="col-sm-6 col-lg-8">
            <input type="password" [(ngModel)]="passwordConfirmation" class="form-control" #txt_confirm_password />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-default">
              <i class="fa fa-save"></i>
              {{ 'account.update_password' | translate }}
            </button>
          </div>
        </div>
      </form>
    </content>
  </card>
  <card class="d-block mb-3">
    <header>
      <i class="fa fa-lock"></i>
      {{ 'account.two_factor.two_factor_authentication' | translate }}
    </header>
    <content>
      <form (submit)="setEnableTwoFactor(true)" *ngIf="user && (user.isTwoFactorEnabled === false)">
        <div class="row">
          <div class="col-xl-12">
            <span class="d-block text-center h2">{{ 'account.two_factor.enable' | translate }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6">
            <label>{{ 'account.two_factor.scan' | translate }}</label>
          </div>
          <div class="col-xl-6 text-center">
            <qr-code [value]="twoFaRegistrationUrl" size="200" errorCorrectionLevel="M"></qr-code>
            <br />
            <a [href]="twoFaRegistrationUrlSanitized">{{ 'account.two_factor.or_open_app' | translate }}</a>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 text-center">
            <button type="submit" class="btn btn-default">
              <i class="fa fa-key"></i>
              {{ 'account.two_factor.enable_2fa' | translate }}
            </button>
          </div>
        </div>
      </form>
      <div *ngIf="user && user.isTwoFactorEnabled === true">
        <div class="row mb-3">
          <div class="col-xl-6 py-2">
            {{ 'account.two_factor.enabled' | translate }}
          </div>
          <div class="col-xl-6 text-center text-xl-end">
            <button (click)="setEnableTwoFactor(false)" class="btn btn-default">
              <i class="fa fa-key"></i>
              {{ 'account.two_factor.disable_2fa' | translate }}
            </button>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-xl-6">
            <label>{{ 'account.two_factor.bypass_2fa_for_external_logins' | translate }}</label>
          </div>
          <div class="col-xl-6 text-center text-xl-end">
            <div class="btn-group rounded">
              <button (click)="setBypass2faForExternalLogin(true)" class="btn" [class.btn-primary]="user.bypass2faForExternalLogin" [class.btn-secondary]="!user.bypass2faForExternalLogin" [attr.disabled]="user.bypass2faForExternalLogin ? true : null">Enable</button>
              <button (click)="setBypass2faForExternalLogin(false)" class="btn" [class.btn-primary]="!user.bypass2faForExternalLogin" [class.btn-secondary]="user.bypass2faForExternalLogin" [attr.disabled]="user.bypass2faForExternalLogin ? null : true">Disable</button>
            </div>
          </div>
        </div>
        <div class="row mb-3" *ngIf="backupCodes !== null">
          <div class="col-md-12">
            <p>{{ 'account.two_factor.write_down_backup_codes' | translate }}</p>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let backupCode of backupCodes">{{ backupCode }}</li>
            </ul>
          </div>
        </div>
      </div>
    </content>
  </card>
  <card class="d-block mb-3">
    <header>
      <i class="fa fa-comments"></i>
      {{ 'account.social_logins' | translate }}
    </header>
    <content>
      <div class="form-group row mb-3" *ngIf="loginProviders.indexOf('Microsoft') > -1">
        <div class="col-md-6 col-lg-4">
          <app-microsoft-login class="d-block" *ngIf="userLogins.indexOf('Microsoft') == -1" [action]="'add'" (LoginSuccessOrFailed)="socialLoginDone($event)"></app-microsoft-login>
          <button *ngIf="userLogins.indexOf('Microsoft') > -1" (click)="removeSocialLogin('Microsoft')" class="btn w-100 btn-warning border-dark">
            <i class="fa fa-trash-o"></i>
            {{ 'account.microsoft.remove_login' | translate }}
          </button>
        </div>
        <div class="col-md-6 col-lg-8 col-form-label">
          <span *ngIf="userLogins.indexOf('Microsoft') == -1">{{ 'account.microsoft.add_login' | translate }}</span>
          <span *ngIf="userLogins.indexOf('Microsoft') > -1">{{ 'account.microsoft.login_registered' | translate }}</span>
        </div>
      </div>
      <div class="form-group row mb-3" *ngIf="loginProviders.indexOf('Facebook') > -1">
        <div class="col-md-6 col-lg-4">
          <app-facebook-login class="d-block" *ngIf="userLogins.indexOf('Facebook') == -1" [action]="'add'" (LoginSuccessOrFailed)="socialLoginDone($event)"></app-facebook-login>
          <button *ngIf="userLogins.indexOf('Facebook') > -1" (click)="removeSocialLogin('Facebook')" class="btn w-100 btn-warning border-dark">
            <i class="fa fa-trash-o"></i>
            {{ 'account.facebook.remove_login' | translate }}
          </button>
        </div>
        <div class="col-md-6 col-lg-8 col-form-label">
          <span *ngIf="userLogins.indexOf('Facebook') == -1">{{ 'account.facebook.add_login' | translate }}</span>
          <span *ngIf="userLogins.indexOf('Facebook') > -1">{{ 'account.facebook.login_registered' | translate }}</span>
        </div>
      </div>
      <div class="form-group row mb-3" *ngIf="loginProviders.indexOf('Twitter') > -1">
        <div class="col-md-6 col-lg-4">
          <app-twitter-login class="d-block" *ngIf="userLogins.indexOf('Twitter') == -1" [action]="'add'" (LoginSuccessOrFailed)="socialLoginDone($event)"></app-twitter-login>
          <button *ngIf="userLogins.indexOf('Twitter') > -1" (click)="removeSocialLogin('Twitter')" class="btn w-100 btn-warning border-dark">
            <i class="fa fa-trash-o"></i>
            {{ 'account.twitter.remove_login' | translate }}
          </button>
        </div>
        <div class="col-md-6 col-lg-8 col-form-label">
          <span *ngIf="userLogins.indexOf('Twitter') == -1">{{ 'account.twitter.add_login' | translate }}</span>
          <span *ngIf="userLogins.indexOf('Twitter') > -1">{{ 'account.twitter.login_registered' | translate }}</span>
        </div>
      </div>
      <div class="form-group row mb-3" *ngIf="loginProviders.indexOf('Google') > -1">
        <div class="col-md-6 col-lg-4">
          <app-google-login class="d-block" *ngIf="userLogins.indexOf('Google') == -1" [action]="'add'" (LoginSuccessOrFailed)="socialLoginDone($event)"></app-google-login>
          <button *ngIf="userLogins.indexOf('Google') > -1" (click)="removeSocialLogin('Google')" class="btn w-100 btn-warning border-dark">
            <i class="fa fa-trash-o"></i>
            {{ 'account.google.remove_login' | translate }}
          </button>
        </div>
        <div class="col-md-6 col-lg-8 col-form-label">
          <span *ngIf="userLogins.indexOf('Google') == -1">{{ 'account.google.add_login' | translate }}</span>
          <span *ngIf="userLogins.indexOf('Google') > -1">{{ 'account.google.login_registered' | translate }}</span>
        </div>
      </div>
      <!--<div class="form-group row mb-3" *ngIf="loginProviders.indexOf('GitHub') > -1">
        <div class="col-md-6 col-lg-4">
          <app-github-login class="d-block" *ngIf="userLogins.indexOf('GitHub') == -1" [action]="'add'" (LoginSuccessOrFailed)="socialLoginDone($event)"></app-github-login>
          <button *ngIf="userLogins.indexOf('GitHub') > -1" (click)="removeSocialLogin('GitHub')" class="btn w-100 btn-warning border-dark">
            <i class="fa fa-trash-o"></i>
            Remove GitHub login
          </button>
        </div>
        <div class="col-md-6 col-lg-8 align-self-center">
          <span *ngIf="userLogins.indexOf('GitHub') == -1">Add GitHub login</span>
          <span *ngIf="userLogins.indexOf('GitHub') > -1">GitHub account registered</span>
        </div>
      </div>-->
    </content>
  </card>
</div>
<form (submit)="onTwoFactorCodeEntered(verificationCode)" *ngIf="(isNotRequestingVerificationCode$ | async) === false">
  <modal>
    <header>
      <h5 class="modal-title">{{ 'account.two_factor.two_factor_authentication' | translate }}</h5>
      <button type="button" (click)="onTwoFactorCodeEntered(null)" class="btn-close" aria-label="Close"></button>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{ (isNotRequestingVerificationCode$ | async) ? 'false' : 'true' }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{ 'account.two_factor.login_instructions' | translate }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <input type="text" #txt_verification_code [(ngModel)]="verificationCode" class="form-control d-block" />
        </div>
      </div>
    </div>
    <footer>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-key"></i>
        {{ 'global.complete' | translate }}
      </button>
    </footer>
  </modal>
</form>
