<h1>{{ 'gdpr.terms_of_service.terms_of_service' | translate }}</h1>
<p>{{ 'gdpr.terms_of_service.use_of_website' | translate }}</p>
<ul>
  <li><a [advRouterLink]='["/gdpr","terms-of-service"]' fragment="trademark">{{ 'gdpr.terms_of_service.use_of_trademark.title' | translate }}</a></li>
  <li><a [advRouterLink]='["/gdpr","terms-of-service"]' fragment="linking">{{ 'gdpr.terms_of_service.link_to_website.title' | translate }}</a></li>
  <li><a [advRouterLink]='["/gdpr","terms-of-service"]' fragment="bugs">{{ 'gdpr.terms_of_service.bugs.title' | translate }}</a></li>
</ul>
<h2 id="trademark">{{ 'gdpr.terms_of_service.use_of_trademark.title' | translate }}</h2>
<p>{{ 'gdpr.terms_of_service.use_of_trademark.body' | translate }}</p>
<h2 id="linking">{{ 'gdpr.terms_of_service.link_to_website.title' | translate }}</h2>
<p>{{ 'gdpr.terms_of_service.link_to_website.body' | translate }}:</p>
<ol>
  <li *ngFor="let condition of 'gdpr.terms_of_service.link_to_website.conditions' | translate | keyvalue">{{ condition.value }}</li>
</ol>
<h2 id="bugs">{{ 'gdpr.terms_of_service.bugs.title' | translate }}</h2>
<p>
  {{ 'gdpr.terms_of_service.bugs.body' | translate }}
  <a href="mailto:info@mintplayer.com">info@mintplayer.com</a>.
</p>
