<h1>Terms of service</h1>
<p>
  Here are the ways you can or can&#39;t use our website.
</p>
<ul>
  <li><a [advRouterLink]='["/gdpr","terms-of-service"]' fragment="trademark">Use of our trademark</a></li>
  <li><a [advRouterLink]='["/gdpr","terms-of-service"]' fragment="linking">Linking to our website</a></li>
  <li><a [advRouterLink]='["/gdpr","terms-of-service"]' fragment="bugs">Bugs - security vulnerabilities</a></li>
</ul>
<h2 id="trademark">Use of our trademark?</h2>
<p>
  MintPlayer is a registered trademark and cannot be used at any time as part of a business name, trading name or domain name.
</p>
<h2 id="linking">Linking to our website</h2>
<p>
  MintPlayer is an open-source, community-driven project, with the goal of stimulating the music api ecosystem.
  You may link to our website from other websites, but under strict conditions:
</p>
<ol>
  <li>You do not link to our website in a way that would cause damage or trashing of our platform.</li>
  <li>Our website must not be framed on any other site</li>
  <li>You may not host our website on another location</li>
</ol>
<h2 id="bugs">Bugs - security vulnerabilities</h2>
<p>
  If you discover a bug or security vulnerability, you may contact us at <a href="mailto:info@mintplayer.com">info@mintplayer.com</a>.
</p>
