<div class="container" *ngIf="tagCategory != null">
  <div class="form-group row mb-3">
    <div class="col-12">
      <h1 class="d-inline-block">{{ tagCategory.description }}</h1>
      <span class="float-none d-block pull-sm-right d-sm-inline-block">
        <span class="float-none d-block pull-sm-right d-sm-inline-block">
          <a class="btn btn-primary d-block d-sm-inline-block" [advRouterLink]='["/tag", "category", tagCategory.id, "edit"]' [title]="'management.tags.categories.edit_category' | translate">
            <i class="fa fa-edit"></i>
            {{ 'global.edit' | translate }}
          </a>
          <button class="btn btn-secondary d-block d-sm-inline-block w-100 w-sm-auto" (click)="deleteTagCategory()" [title]="'management.tags.categories.remove_category' | translate">
            <i class="fa fa-trash"></i>
            {{ 'global.remove' | translate }}
          </button>
        </span>
      </span>
    </div>
  </div>
  <card class="d-block mb-3">
    <header>
      <i class="fa fa-info"></i>
      {{ 'global.general_information' | translate }}
    </header>
    <content>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-xl-2">
            <label class="fw-bold">{{ 'global.description' | translate }}</label>
          </div>
          <div class="col-sm-8 col-xl-10">
            <label>{{ tagCategory.description }}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-xl-2">
            <label class="fw-bold">{{ 'global.color' | translate }}</label>
          </div>
          <div class="col-sm-8 col-xl-10">
            <label>{{ tagCategory.color }}</label>
          </div>
        </div>
      </div>
    </content>
  </card>
  <card class="d-block mb-3" [noPadding]="true">
    <header>
      <i class="fa fa-tags"></i>
      {{ 'subjects.tags' | translate }}
      <span class="btn-group pull-right">
        <a [advRouterLink]='["/tag","category",tagCategory.id,"tags","create"]' [title]="'management.tags.add_tag' | translate" class="btn btn-secondary">+</a>
      </span>
    </header>
    <content>
      <div class="list-group">
        <a [advRouterLink]='["/tag","category",tagCategory.id,"tags",tag.id]' [title]="'global.details_for' | translate:{name:tag.description}" class="list-group-item list-group-item-action h4 mb-0 py-2" *ngFor="let tag of tagCategory.tags">
          <span class="badge float-left" [style.background]="tagCategory.color" [style.color]="tagCategory.color | fontColor">{{ tag.description }}</span>
        </a>
      </div>
    </content>
  </card>
</div>
