<div class="container">
  <form (submit)="updateArtist()">
    <div class="form-group row mb-3">
      <div class="col-12">
        <h1 class="d-inline-block">{{ 'artists.edit_artist' | translate: {name:oldName} }}</h1>
        <span class="pull-right">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i>
            {{ 'artists.update_artist' | translate }}
          </button>
        </span>
      </div>
    </div>
    <card class="d-block mb-3" [overflowX]="false">
      <header>
        <i class="fa fa-info"></i>
        {{ 'subjects.general_information' | translate }}
      </header>
      <content>
        <div class="form-group row mb-3">
          <label [appFor]="txt_name" class="col-form-label col-md-6 col-lg-4 col-xl-3">{{ 'artists.name' | translate }}</label>
          <div class="col-md-6 col-lg-8 col-xl-9">
            <input type="text" [(ngModel)]="artist.name" class="form-control" #txt_name name="name" autofocus />
          </div>
        </div>
        <div class="form-group row mb-3">
          <label [appFor]="txt_year_started" class="col-form-label col-md-6 col-lg-4 col-xl-3">{{ 'artists.year_started' | translate }}</label>
          <div class="col-md-6 col-lg-8 col-xl-9">
            <input type="number" [(ngModel)]="artist.yearStarted" class="form-control" #txt_year_started name="year_started" />
          </div>
        </div>
        <div class="form-group row mb-3">
          <label [appFor]="txt_year_quit" class="col-form-label col-md-6 col-lg-4 col-xl-3">{{ 'artists.year_quit' | translate }}</label>
          <div class="col-md-6 col-lg-8 col-xl-9">
            <input type="number" [(ngModel)]="artist.yearQuit" class="form-control" #txt_year_quit name="year_quit" />
          </div>
        </div>
        <div class="form-group row mb-3">
          <label [appFor]="sel_current_members" class="col-form-label col-md-6 col-lg-4 col-xl-3">{{ 'artists.current_members' | translate }}</label>
          <div class="col-md-6 col-lg-8 col-xl-9">
            <select2 [url]="'/api/subject/search/suggest/person'" method="GET" [headers]="httpHeaders" [(selectedItems)]="artist.currentMembers" #sel_current_members></select2>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label [appFor]="sel_past_members" class="col-form-label col-md-6 col-lg-4 col-xl-3">{{ 'artists.past_members' | translate }}</label>
          <div class="col-md-6 col-lg-8 col-xl-9">
            <select2 [url]="'/api/subject/search/suggest/person'" method="GET" [headers]="httpHeaders" [(selectedItems)]="artist.pastMembers" #sel_past_members></select2>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label [appFor]="sel_tags" class="col-form-label col-md-6 col-lg-4 col-xl-3">{{ 'subjects.tags' | translate }}</label>
          <div class="col-md-6 col-lg-8 col-xl-9">
            <select2 [url]="'/web/v1/Tag/suggest'" method="POST" [headers]="httpHeaders" [selectedItems]="artist.tags" [itemTemplate]="customTemplate" #sel_tags>
              <ng-template #customTemplate let-item="item" let-select2="select2">
                <span class="select2-item" [style.background]="item.category.color" [style.color]="item.category.color | fontColor">
                  <span [style.color]="item.category.color | fontColor" (click)="select2.removeItem(item,$event)">×</span>
                  {{ item.text }}
                </span>
              </ng-template>
            </select2>
          </div>
        </div>
      </content>
    </card>
    <card>
      <header>
        <i class="fa fa-medium"></i>
        {{ 'subjects.media' | translate }}
      </header>
      <content>
        <media-manager [media]="artist.media" [mediumTypes]="mediumTypes"></media-manager>
      </content>
    </card>
  </form>
</div>
