<h1 class="text-center">{{ 'fetch.fetch_url' | translate }}</h1>
<div class="container">
  <div class="row mb-3">
    <div class="col-md-12">
      <form (submit)="fetchUrl()">
        <div class="input-group">
          <input type="text" [(ngModel)]="url" name="url" class="form-control" />
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{ subject | json }}
    </div>
  </div>
</div>
