<div class="container-fluid">
  <div class="form-group row">
    <div class="col-12">
      <h1 class="d-inline-block">Public playlists</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <datatable [settings]="tableSettings" [data]="playlistData" [rowTemplate]="rowTemplate" (onReloadData)="loadPlaylists()">
        <ng-template #rowTemplate let-playlist>
          <tr>
            <td class="text-nowrap"><a [routerLink]='["/playlist",playlist.id,playlist.description | slugify]' title="Details for {{ playlist.description }}">{{ playlist.description }}</a></td>
          </tr>
        </ng-template>
      </datatable>
      <pagination class="pull-left" [numbers]="tableSettings.perPages.values" [(selectedNumber)]="tableSettings.perPages.selected" (selectedNumberChange)="loadPlaylists()" [showArrows]="false"></pagination>
      <pagination class="pull-right" [numbers]="tableSettings.pages.values" [(selectedNumber)]="tableSettings.pages.selected" (selectedNumberChange)="loadPlaylists()" [showArrows]="true"></pagination>
    </div>
  </div>
</div>
