<div class="container-fluid">
  <div class="form-group row">
    <div class="col-12">
      <h1 class="d-inline-block">My favorite songs</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <datatable [settings]="tableSettings" [data]="songData" [rowTemplate]="rowTemplate" (onReloadData)="loadFavoriteSongs()">
        <ng-template #rowTemplate let-song>
          <tr>
            <td class="text-nowrap"><a [routerLink]='["/song",song.id,song.title | slugify]'>{{ song.title }}</a></td>
            <td class="text-nowrap">{{ song.released | date:'dd-MM-yyyy' }}</td>
          </tr>
        </ng-template>
      </datatable>
      <pagination class="pull-left" [numbers]="tableSettings.perPages.values" [(selectedNumber)]="tableSettings.perPages.selected" (selectedNumberChange)="loadFavoriteSongs()" [showArrows]="false"></pagination>
      <pagination class="pull-right" [numbers]="tableSettings.pages.values" [(selectedNumber)]="tableSettings.pages.selected" (selectedNumberChange)="loadFavoriteSongs()" [showArrows]="true"></pagination>
    </div>
  </div>
</div>
