<body>
  <div class="app-header text-center">
    <app-navbar-toggler [(state)]="toggleButtonState" (stateChange)="updateSidebarState($event)" class="d-inline-block"></app-navbar-toggler>
    <a [advRouterLink]='["/"]' class="d-block no-underline" title="MintPlayer">
      <span class="fw-bolder d-inline-block my-1 logo">{{ test }}</span>
    </a>
    <playlist-toggler class="position-absolute" [(state)]="playlistToggleButtonState"></playlist-toggler>
  </div>
  <div class="app-body" [ngClass]="sidebarState" id="app-body">
    <app-sidebar (itemSelected)="collapseSidebar()" [activeUser]="activeUser" (logoutClicked)="logoutClicked()"></app-sidebar>
    <div class="main-body pb-1">
      <div class="main-content m-2 p-2 m-md-4 p-md-4">
        <div [ngClass]="{'mx-auto': true, 'main-container': true, 'width-100': fullWidth}">
          <router-outlet (activate)="routingActivated($event)" (deactivate)="routingDeactivated($event)"></router-outlet>
          <!--<button (click)="post()" class="btn btn-default">Open window</button>-->
        </div>
      </div>
      <div class="main-footer px-3">
        &copy; MintPlayer
      </div>
    </div>
    <playlist-sidebar [playerState]="playerState" [songs]="playlistControl.playlist" [current]="playlistControl.currentVideo" [songProgress]="songProgress" (songRemoved)="playlistControl.removeFromPlaylist($event.song)" (previousClicked)="playlistControl.previous()" (nextClicked)="playlistControl.next(true)" (songClicked)="collapsePlaylistSidebar()" (playPauseClicked)="playPausePlayer()" [(isRandom)]="playlistControl.shuffle" [(repeatMode)]="playlistControl.repeat" [ngClass]="playlistToggleButtonState"></playlist-sidebar>
  </div>
  <card class="youtube-card" [ngClass]="{'d-none':playlistControl.currentVideo === null}" [noPadding]="true" [isDraggable]="true">
    <header>
      <div class="pull-left">
        Currently playing
      </div>
    </header>
    <content>
      <div class="d-table caption-bottom">
        <youtube-player #player (stateChange)="playerStateChanged($event)" (progressChange)="updatePlayerProgress($event)" [width]="playerSize.width" [height]="playerSize.height"></youtube-player>
        <span class="d-table-caption">
          <span class="d-block text-center p-2" *ngIf="currentLyricsLine !== null">{{ currentLyricsLine }}</span>
          <span class="d-block text-center p-2" *ngIf="isSyncComponent">{{ songProgress.currentTime | number: '1.1' }}</span>
        </span>
      </div>
    </content>
  </card>
  <!--<card class="dailymotion-card" [noPadding]="true" [isDraggable]="true">
    <header>
      <div class="pull-left">
        DailyMotion
      </div>
    </header>
    <content>
      <div class="d-table caption-bottom">
        <app-dailymotion-player [width]="playerSize.width" [height]="playerSize.height" #dmplayer></app-dailymotion-player>
        --><!--<youtube-player #player [domId]="'player'" (stateChange)="playerStateChanged($event)" (progressChange)="updatePlayerProgress($event)" [width]="playerSize.width" [height]="playerSize.height"></youtube-player>
        --><!--<span class="d-table-caption">
          <span class="d-block text-center p-2" *ngIf="currentLyricsLine !== null">{{ currentLyricsLine }}</span>
          <span class="d-block text-center p-2" *ngIf="isSyncComponent">{{ songProgress.currentTime | number: '1.1' }}</span>
        </span>
      </div>
    </content>
  </card>-->
</body>
