<h1>{{ 'gdpr.privacy_policy.privacy_policy' | translate }}</h1>
<p>{{ 'gdpr.privacy_policy.intro' | translate }}</p>
<p>{{ 'gdpr.privacy_policy.declaration' | translate }}</p>
<ul>
  <li><a [advRouterLink]='["/gdpr","privacy-policy"]' fragment="data-we-collect">{{ 'gdpr.privacy_policy.data_we_collect.title' | translate }}</a></li>
  <li><a [advRouterLink]='["/gdpr","privacy-policy"]' fragment="handling-of-data">{{ 'gdpr.privacy_policy.handling_of_data.title' | translate }}</a></li>
  <li><a [advRouterLink]='["/gdpr","privacy-policy"]' fragment="cookie-policy">{{ 'gdpr.privacy_policy.cookies.title' | translate }}</a></li>
  <li><a [advRouterLink]='["/gdpr","privacy-policy"]' fragment="information-sharing">{{ 'gdpr.privacy_policy.information_sharing.title' | translate }}</a></li>
  <li><a [advRouterLink]='["/gdpr","privacy-policy"]' fragment="data-removal">{{ 'gdpr.privacy_policy.data_removal.title' | translate }}</a></li>
</ul>
<h2 id="data-we-collect">{{ 'gdpr.privacy_policy.data_we_collect.title' | translate }}</h2>
<p>
  {{ 'gdpr.privacy.data_we_collect.body' | translate }}
  <a [advRouterLink]='["/account","profile"]'>{{ 'account.profile_page' | translate }}</a>.
</p>
<h2 id="handling-of-data">{{ 'gdpr.privacy_policy.handling_of_data.title' | translate }}</h2>
<p>{{ 'gdpr.privacy_policy.handling_of_data.body' | translate }}</p>
<h2 id="cookie-policy">{{ 'gdpr.privacy_policy.cookies.title' | translate }}</h2>
<p>{{ 'gdpr.privacy_policy.cookies.body' | translate }}</p>
<h2 id="information-sharing">{{ 'gdpr.privacy_policy.information_sharing.title' | translate }}</h2>
<p>{{ 'gdpr.privacy_policy.information_sharing.body' | translate }}</p>
<h2 id="data-removal">{{ 'gdpr.privacy_policy.data_removal.title' | translate }}</h2>
<p>{{ 'gdpr.privacy_policy.data_removal.body1' | translate }}</p>
<p>
  {{ 'gdpr.privacy_policy.data_removal.body2' | translate }}
  <a href="mailto:info@mintplayer.com">info@mintplayer.com</a>.
</p>
