<div class="dropdown" (clickOutside)="clickedOutside($event)">
  <button class="btn d-block w-100 btn-primary" (click)="toggleDropdown()">
    Search for songs
    <i class="fa pull-right btn-caret-center" [ngClass]="{'fa-caret-down': !isOpen, 'fa-caret-up': isOpen}"></i>
  </button>
  <div class="dropdown-menu d-block w-100 pt-0" [ngClass]="{'pb-0': (suggestions.length === 0) && (!searchText)}" *ngIf="isOpen">
    <progress-bar *ngIf="busy" [minimum]="0" [maximum]="100" [value]="null" [flat]="true"></progress-bar>
    <input #searchBox type="text" [(ngModel)]="searchText" [placeholder]="searchPlaceholder" (ngModelChange)="onProvideSuggestions()" class="form-control dropdown-search-input" [ngClass]="{'mt-0':busy}" />
    <ul *ngIf="searchText">
      <li *ngIf="(suggestions.length === 0) && (!busy)">
        <a class="dropdown-item disabled">{{ noResultsCaption }}</a>
      </li>
      <li *ngIf="busy">
        <a class="dropdown-item disabled">{{ searchingCaption }}</a>
      </li>
      <li *ngFor="let suggestion of suggestions">
        <a class="dropdown-item" (click)="onSuggestionClicked(suggestion)" [ngClass]="{'disabled': busy}">{{ suggestion | propVal: textPropertyPath }}</a>
      </li>
    </ul>
  </div>
</div>
