<div class="container">
  <form (submit)="updatePerson()">
    <div class="form-group row mb-3">
      <div class="col-12">
        <h1 class="d-inline-block">{{ oldPersonName }}</h1>
        <span class="pull-right">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i>
            {{ 'people.update_person' | translate }}
          </button>
        </span>
      </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="!!concurrentPerson">
      {{ 'subjects.changed_while_editing' | translate: {subject: 'people.person' | translate} }}
    </div>
    <card class="d-block mb-3" [overflowX]="false">
      <header>
        <i class="fa fa-info"></i>
        General information
      </header>
      <content>
        <div class="form-group row mb-3">
          <label [appFor]="txt_first_name" class="col-form-label col-sm-4 col-xl-2">{{ 'people.first_name' | translate }}</label>
          <div class="col-sm-8 col-xl-10">
            <input type="text" [(ngModel)]="person.firstName" class="form-control" [class.is-invalid]="!!concurrentPerson && (person.firstName !== concurrentPerson.firstName)" #txt_first_name name="first_name" />
            <div class="invalid-feedback" *ngIf="!!concurrentPerson">{{ 'subjects.current_database_value' | translate: {value:concurrentPerson.firstName} }}</div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label [appFor]="txt_last_name" class="col-form-label col-sm-4 col-xl-2">{{ 'people.last_name' | translate }}</label>
          <div class="col-sm-8 col-xl-10">
            <input type="text" [(ngModel)]="person.lastName" class="form-control" [class.is-invalid]="!!concurrentPerson && (person.lastName !== concurrentPerson.lastName)" #txt_last_name name="last_name" />
            <div class="invalid-feedback" *ngIf="!!concurrentPerson">{{ 'subjects.current_database_value' | translate: {value:concurrentPerson.lastName} }}</div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label [appFor]="txt_born" class="col-form-label col-sm-4 col-xl-2">{{ 'people.born' | translate }}</label>
          <div class="col-sm-8 col-xl-10">
            <input type="date" [ngModel]="person.born | date:'yyyy-MM-dd'" (ngModelChange)="person.born = $event" name="born" class="form-control" [class.is-invalid]="!!concurrentPerson && (person.born !== concurrentPerson.born)" #txt_born autofocus />
            <div class="invalid-feedback" *ngIf="!!concurrentPerson">{{ 'subjects.current_database_value' | translate: {value:(concurrentPerson.born | date:'yyyy-MM-dd')} }}</div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label [appFor]="txt_died" class="col-form-label col-sm-4 col-xl-2">{{ 'people.died' | translate }}</label>
          <div class="col-sm-8 col-xl-10">
            <input type="date" [ngModel]="person.died | date:'yyyy-MM-dd'" (ngModelChange)="person.died = $event" name="died" class="form-control" [class.is-invalid]="!!concurrentPerson && (person.died !== concurrentPerson.died)" #txt_died />
            <div class="invalid-feedback" *ngIf="!!concurrentPerson">{{ 'subjects.current_database_value' | translate: {value:(concurrentPerson.died | date:'yyyy-MM-dd')} }}</div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label [appFor]="sel_tags" class="col-form-label col-sm-4 col-xl-2">{{ 'subjects.tags' | translate }}</label>
          <div class="col-sm-8 col-xl-10">
            <select2 (provideSuggestions)="onProvideTagSuggestions($event)" [suggestions]="tagSuggestions" [selectedItems]="person.tags" #sel_tags>
              <ng-template itemTemplate let-item="item" let-select2="select2">
                <span class="select2-item" [style.background]="item.category.color" [style.color]="item.category.color | fontColor">
                  <span [style.color]="item.category.color | fontColor" (click)="select2.removeItem(item,$event)">×</span>
                  {{ item.text }}
                </span>
              </ng-template>
            </select2>
          </div>
        </div>
      </content>
    </card>
    <card>
      <header>
        <i class="fa fa-medium"></i>
        {{ 'subjects.media' | translate }}
      </header>
      <content>
        <media-manager [media]="person.media" [mediumTypes]="mediumTypes"></media-manager>
      </content>
    </card>
  </form>
</div>
