<div class="container">
  <form (submit)="updatePerson()">
    <div class="form-group row mb-3">
      <div class="col-12">
        <h1 class="d-inline-block">{{ oldPersonName }}</h1>
        <span class="pull-right">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-save"></i>
            Update
          </button>
        </span>
      </div>
    </div>
    <card class="d-block mb-3" [overflowX]="false">
      <header>
        <i class="fa fa-info"></i>
        General information
      </header>
      <content>
        <div class="form-group row mb-3">
          <label [appFor]="txt_first_name" class="col-form-label col-sm-4 col-xl-2">First name</label>
          <div class="col-sm-8 col-xl-10">
            <input type="text" [(ngModel)]="person.firstName" class="form-control" #txt_first_name name="first_name" />
          </div>
        </div>
        <div class="form-group row mb-3">
          <label [appFor]="txt_last_name" class="col-form-label col-sm-4 col-xl-2">Last name</label>
          <div class="col-sm-8 col-xl-10">
            <input type="text" [(ngModel)]="person.lastName" class="form-control" #txt_last_name name="last_name" />
          </div>
        </div>
        <div class="form-group row mb-3">
          <label [appFor]="txt_born" class="col-form-label col-sm-4 col-xl-2">Birth day</label>
          <div class="col-sm-8 col-xl-10">
            <input type="date" [ngModel]="person.born | date:'yyyy-MM-dd'" (ngModelChange)="person.born = $event" name="born" class="form-control" #txt_born autofocus />
          </div>
        </div>
        <div class="form-group row mb-3">
          <label [appFor]="txt_died" class="col-form-label col-sm-4 col-xl-2">Died</label>
          <div class="col-sm-8 col-xl-10">
            <input type="date" [ngModel]="person.died | date:'yyyy-MM-dd'" (ngModelChange)="person.died = $event" name="died" class="form-control" #txt_died />
          </div>
        </div>
        <div class="form-group row mb-3">
          <label [appFor]="sel_tags" class="col-form-label col-sm-4 col-xl-2">Tags</label>
          <div class="col-sm-8 col-xl-10">
            <select2 [url]="'/web/v1/Tag/suggest'" method="POST" [headers]="httpHeaders" [selectedItems]="person.tags" #sel_tags>
              <ng-template itemTemplate let-item="item" let-select2="select2">
                <span class="select2-item" [style.background]="item.category.color" [style.color]="item.category.color | fontColor">
                  <span [style.color]="item.category.color | fontColor" (click)="select2.removeItem(item,$event)">×</span>
                  {{ item.text }}
                </span>
              </ng-template>
            </select2>
          </div>
        </div>
      </content>
    </card>
    <card>
      <header>
        <i class="fa fa-medium"></i>
        Media
      </header>
      <content>
        <media-manager [media]="person.media" [mediumTypes]="mediumTypes"></media-manager>
      </content>
    </card>
  </form>
</div>
