<ul class="list-group cursor-grab" [ngClass]="{'cursor-grabbing': capturedItem !== null}">
  <li class="list-group-item" #li *ngFor="let item of items; trackBy: trackByFn;"
      [style.margin-top.px]="capturedItem === item ? captureDiff.y : 0"
      [style.margin-bottom.px]="capturedItem === item ? -captureDiff.y : 0"
      [style.margin-left.px]="capturedItem !== item ? 0 : verticalOnly ? 8 : captureDiff.x"
      [style.margin-right.px]="capturedItem !== item ? 0 : verticalOnly ? -8 : -captureDiff.x"
      [style.z-index]="capturedItem === item ? 2 : 1"
      (touchstart)="itemTouchStart($event, li, item)"
      (touchmove)="itemTouchMove($event, item)"
      (touchend)="itemTouchEnd($event, item)"
      (mousedown)="itemMouseDown($event, li, item)"
      (mouseenter)="itemMouseEnter($event, item)"
      (mouseleave)="itemMouseLeave($event, item)">
    <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"></ng-container>
  </li>
</ul>
