$grey-border: 1px solid #CCC;
$sidebar-width-lg: 220px;
$playlist-width-lg: 350px;
$z-index-main: 100;
$header-height: 55px;
$footer-height: 45px;
$white: #FFF;
$sidebar-background: #333;
$arrow-size: 10px;
